
.form-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.event-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 3rem;
  padding: 2em;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.event-input, .event-submit {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #920808;
  border-radius: 3px;
}

.event-input {
  font-size: 1em;
  width: 100%;
}

.event-submit {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.event-submit:hover {
  background: #0056b3;
}

.event-cancel {
  background: #dc1515;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 55px;
  border-radius: 5px;
}

.event-cancel:hover {
  background: #e2a042;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh; 
  margin: auto;
  overflow: hidden;
}


@media (max-width: 768px) {
  .event-form {
    width: 90%;
    margin: 1rem;
    padding: 1em;
  }

  .event-input, .event-submit, .event-cancel {
    font-size: 0.9em;
    padding: 0.4em;
  }

  .event-cancel {
    width: 100%;
    height: 40px;
  }
}
